<div class="topnav" id="myTopnav">
    <a routerLink="/about" href="javascript:void(0)" (click)="hideMobileNav()">About</a>
    <a routerLink="/blog" href="javascript:void(0)" (click)="hideMobileNav()">Blog</a>
    <a routerLink="/site" href="javascript:void(0)" (click)="hideMobileNav()">This Site</a>
    <a routerLink="/devops" href="javascript:void(0)" (click)="hideMobileNav()">DevOps</a>
    <a routerLink="/crypto" href="javascript:void(0)" (click)="hideMobileNav()">Cryptocurrency</a>
    <a href="javascript:void(0);" class="icon" (click)="toggleMobileNav()">&#9776;</a>
</div>