<h1>
  About this site
</h1>

<h2>Blueprint / Source Code</h2>
<table>
  <tr>
    <th>Technology</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="https://github.com/dramazani/bitcoin-blog">Github</a></td>
    <td>Source control</td>
  </tr>
  <tr>
    <td><a href="https://angular.io">Angular</a></td>
    <td>Javascript framework</td>
  </tr>
  <tr>
    <td><a href="https://cli.angular.io">Angular CLI</a></td>
    <td>Code generator which scaffolds a starter website in Angular</td>
  </tr>
</table>


<h2>Web Hosting</h2>
<table>
  <tr>
    <th>Technology</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="https://aws.amazon.com">Amazon Web Services</a></td>
    <td>Cloud hosting service, umbrella for all the tools below</td>
  </tr>
  <tr>
    <td><a href="https://aws.amazon.com/s3">Amazon S3</a></td>
    <td>Static content hosting</td>
  </tr>
  <tr>
    <td><a href="https://aws.amazon.com/route53">Amazon Route 53</a></td>
    <td>DNS registration</td>
  </tr>
  <tr>
    <td><a href="https://aws.amazon.com/cloudfront">Amazon CloudFront</a></td>
    <td>Content delivery system</td>
  </tr>
</table>