<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="topnav" id="myTopnav">
          <a routerLink="/about" href="javascript:void(0)">About</a>
          <a routerLink="/blog" href="javascript:void(0)">Blog</a>
          <a routerLink="/site" href="javascript:void(0)">This Site</a>
          <a routerLink="/devops" href="javascript:void(0)">DevOps</a>
          <a routerLink="/crypto" href="javascript:void(0)">Cryptocurrency</a>
          <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
    </div>
  <router-outlet></router-outlet>
</div>

